@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Antonio';
  src: url('../fonts/Antonio/Antonio-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Dancing Script';
  src: url('../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Red Hat Display';
  src: url('../fonts/Red_Hat_Display/RedHatDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf');
}
